@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=DM+Serif+Display:ital@0;1&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-maize: #FFCB05;
  --color-maize-300: #f2b407;
  --color-um-blue: #00274C;
  --color-um-blue-200: #01499D;
  --color-accent: #D6EFFF;
  --text-ref: 0.625rem;
  --font-dm: "DM Serif Display", serif;
  --font-lateef: "Lateef", sans-serif;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(97% 0.013 236.62);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: #01499D;
  --color-primary: oklch(87% 0.169 91.605);
  --color-primary-content: oklch(48% 0.243 264.376);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: #D6EFFF;
  --color-accent-content: oklch(62% 0.214 259.815);
  --color-neutral: #01499D;
  --color-neutral-content: oklch(87% 0.169 91.605);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(82% 0.111 230.318);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}